@import 'vars';
@import 'mixins';

.button {


    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        box-sizing: border-box;
        border-radius: 18px;
        border: 1px solid #292F36;
        background: #292F36;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
        cursor: pointer;
        @include font-jost-semibold($mainColorOfSite, 18px, 1.25);
        letter-spacing: 0.36px;
        text-align: center;
        @include transition-slow();

        &:hover,
        &:focus {
            color: $mainColorOfSite;
            background: $firstPrimaryColor;
            border: 1px solid $firstPrimaryColor;
            @include transition-slow();

            .button__arrow path {
                stroke: #292f36;
                @include transition-slow();

            }
        }
    }

    &__arrow {
        margin-left: 10px;
    }
}

.btn {
    @include font-Montserrat-semibold($thirdPrimaryColor, 21px, 1.25);
    // font-family: 'Montserrat', sans-serif;
    // font-style: normal;
    // font-weight: 700;
    /*700*/
    // font-size: 21px;
    /*23px*/
    // line-height: auto;
    /*26px*/
    // letter-spacing: 0.1em;
    text-transform: uppercase;
    // color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 12px 7px;
    border: 1px solid #fff;
    /*white-space: nowrap;*/
    width: 240px;
    transition: all 0.5s ease;
    border-radius: 12px; // Скругление углов кнопки
    backdrop-filter: blur(5px); // Легкое размытие фона
    background-color: rgba(255, 255, 255, 0.1); // Полупрозрачный фон
}

.btn:hover {
    background: rgba(193, 202, 208, 0.8); // Полупрозрачный синий
    box-shadow: 0 0 15px rgba(28, 99, 148, 0.5); // Свечение
}