@import 'vars';
@import 'mixins';


.header {
    margin-top: 53px;
    margin-bottom: 57px;

    &__logo {
        &-img {
            width: 250px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-img {
            max-width: 40%;
        }
    }


}