$mainColorOfSite: #FFFFFF; //#FFFFFF
$addColorOfSite: #d9ddf2;
$lightColor: #7f8892;
$firstPrimaryColor: #8cafd2; //bfc1de
$secondPrimaryColor: #292F36; //#292F36; //#d5dde4
$thirdPrimaryColor: #F4F0EC;
$fourthPrimaryColor: #155389; //#4D5053; 
$desktopWidthOfSite: 1200px;
$bannerRadius: 24px;

// Variables of Contacts.vue and _contacts.scss
$primary-color: #740F1B;
$secondary-color: #FFFFFF;
$error-color: #973D3D;
$font-weight-bold: 700;
$transition-speed: 0.5s;
$background-image: url('@/assets/images/rs/post_convert_2.jpg');